
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

:root {
    --color-main: #070f3a;
    --color-background: #ebe1c3;
    --color-negative: white;
    --color-positive: black;
    --color-hover: #49649b;
    --color-titles: #070f3a;
    --color-article: white;
     
    --fs-small: 0.8em;
    --fs-medium: 1em;
    --fs-big: 1.2em;
    --fs-pagename: 20px;
    --menu-padding: 5px;
    --menu-height: 40px;
    --em-spaces: 12px;
    --em-rounds: 12px;

    --side-padding: 5%;
}

@media (min-width: 600px) {
    :root {
        --fs-small: 1em;
        --fs-medium: 1.3em;
        --fs-big: 1.5em;
        --fs-pagename: 30px;
        --menu-padding: 10px;
        --menu-height: 60px;
        --em-spaces: 15px;
        --em-rounds: 15px;

        --side-padding: 8%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #08124f;
        --color-article: #1f1f1f;
        --color-negative: white;
        --color-positive: white;
        --color-hover: #49649b;
        --color-titles: #7ab7f4;
        --color-background: #0c0c0c;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto';
}

header {
    width: 100%;
    height: var(--menu-height);   
    background: var(--color-main);
    position: fixed;
    top: 0;
    left: 0;
}

h1 {
    padding: var(--menu-padding) var(--side-padding);
    font-weight: 900;
    font-size: var(--fs-pagename);
    color: var(--color-negative);
}

#top-space{
    margin-top: var(--menu-height);
}

.main-header {
    padding-top: var(--em-spaces);
    font-weight: 300;
    font-size: var(--fs-big);
    color: var(--color-titles);
}

main {
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    padding-bottom: calc(var(--em-spaces) * 2);
    background: var(--color-background);
}

article, #new-post {
    margin-top: var(--em-spaces);
    padding: var(--em-spaces);
    border-radius: var(--em-rounds);
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
    font-size: var(--fs-small);
    background: var(--color-article);
    color: var(--color-positive);
 
}

.post-header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: var(--fs-small);
    color: var(--color-titles);  
}
.article-title {
    margin-bottom: calc(var(--fs-small) / 2);
    font-weight: 700;
    font-size: var(--fs-big);
    color: var(--color-titles);
}

.title-input-field {
    margin: calc(var(--em-spaces) / 2) 0;
    padding: 0 var(--em-spaces);
    width: calc(100% - var(--em-spaces) * 2);
    min-height: calc(var(--em-spaces) * 3);
    border-radius: 5px;
    font-weight: 300;
    font-size: var(--fs-medium);
    background: var(--color-background);
}

.post-input-field {
    margin: calc(var(--em-spaces) / 2) 0px;
    padding: calc(var(--em-spaces) / 2) var(--em-spaces);
    width: calc(100% - 20px);
    min-height: calc(var(--em-spaces) * 5);
    max-height: calc(var(--em-spaces) * 5);
    max-width: calc(100% - var(--em-spaces) * 2);
    min-width: calc(100% - var(--em-spaces) * 2);
    border-radius: 5px;
    font-weight: 300;
    font-size: var(--fs-small);
    text-align: justify;    
    background: var(--color-background);
    color: var(--color-positive);
}

.my-button {
    width: calc(var(--em-spaces) * 5);
    height: calc(var(--em-spaces) * 2);
    border-radius: 5px;
    font-weight: 700;
    font-size: var(--fs-small) * 0.8;
    background: var(--color-main);
    color: var(--color-negative);
}

.my-button:hover {
    background: var(--color-hover);
}