
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

:root {
    --fs-small: 0.8em;
    --fs-medium: 1em;
    --fs-big: 1.2em;
    --fs-pagename: 20px;
    --menu-padding: 0px;
    --menu-height: 30px;
}

@media (min-width: 600px) {
    :root {
        --fs-small: 1em;
        --fs-medium: 1.3em;
        --fs-big: 1.5em;
        --fs-pagename: 30px;
        --menu-padding: 5px;
        --menu-height: 40px;
    }
}

header {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background: #070f3a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: var(--menu-height);    */
}

body {
    margin: 0;
    padding: 0;
    background: #070f3a;
}

h1 {
    height: var(--menu-height);
    padding: var(--menu-padding) 10%;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: var(--fs-pagename);
    color: #fff;
}

#top-space{
    margin-top: calc(var(--menu-height) * 2);
}

#em-space{
    margin-top: 1em;
}

.main-header {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: var(--fs-big);
    color: #070f3a;
    padding-top: 1em;
    margin: 0;
}

main {
    margin:0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    background: #ebe1c3;
    border: none;
}

article, #new-post {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-radius: 15px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
    font-size: var(--fs-small);
}

#new-post-container {
    margin: 0;
    padding: 0;
    border: none;
}

.post-header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: var(--fs-small);
    margin: 0;
    color: #070f3a;  
}
.article-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: var(--fs-big);
    margin: 0;
    margin-bottom: 0.5em;
    color: #070f3a;
}

.title-input-field {
    border: none;
    margin: 10px 0px;
    padding: 1px 10px;
    background: #f6edd3;
    border: none;
    width: calc(100% - 20px);
    min-height: 50px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: var(--fs-medium);
}

.post-input-field {
    margin: 10px 0px;
    padding: 10px 10px;
    border: none;
    text-align: justify;    
    background: #f6edd3;
    color: black;
    border: none;
    width: calc(100% - 20px);
    min-height: 4em;
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
    border-radius: 5px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: var(--fs-small);
}

.my-button {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #070f3a;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 0.8em;
    transition: 0.5s;
}

.my-button:hover {
    background: #475bca;
    transition: 0.5s;
    font-size: 0.9em;
}